.section-page-content {
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
}

.page-box {
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
}

.page-box:last-child {
    border: none;
}
.form-array-custom {
    .ck-editor__editable {
        min-height: 150px !important;
    }
}
