.react-kanban-column {
    & > div:last-child {
        overflow-y: overlay;
        height: calc(100vh - 280px) !important;
        margin: 0 -15px;
        padding: 0 15px;
    }
}
.react-kanban-column {
    background-color: #ebecf0 !important;
}
.react-kanban-card-skeleton,
.react-kanban-card,
.react-kanban-card-adder-form {
    max-width: none !important;
    min-width: none !important;
}
